* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
.margin-top{
    margin-top: 2%;
}
.margin-right{
    margin-right: 1%;
}
li{
    list-style: none;
    background-color: green;
    border: 1px black solid;
    margin-right: 1%;
}
a{
    text-decoration: none;
    color: white;

}