<nav >
    <ul class="row">
        <li class="col"> <a href="http://localhost:4000/static/">Home</a></li>
        <li class="col">  <a href="http://localhost:4000/static/RealTimeProducts">Manage Products</a></li>
        <li class="col">  <a href="http://localhost:4000/static/Chat">Chat</a></li>
        <li class="col">  <a href="http://localhost:4000/Cart/64fd09d885e276a633a2e8aa">Cart</a></li>
    </ul>
</nav>