<h1> Chat</h1>

<div>
    <form>
        <input type="email" name="email" id="email">
        <input type="text" id="message" name="message">
    <button id="botonChat">Enviar</button>
    </form>
</div>

<div>
    <p id="parrafosMensajes"></p>
</div>