<h1> Crear Producto</h1>
<hr>
<div class="col">
<form id="formAdd">
    <div class="row">
    <label for="title">Title</label>
    <input type="text" required name="title">
    <label for="description">Description</label>
    <input type="text" required name="description">
    <label for="category">Category</label>
    <input type="text" required name="category">
    <label for="price">Price</label>
    <input type="number" required name="price">
    <label for="stock">Stock</label>
    <input type="number" required name="stock">
    <label for="code">Code</label>
    <input type="text" required name="code">
    <button type="submit" class="margin-top btn btn-success">Add</button>
    </div>
</form>
</div>
<div id="product_list" class="row margin-top">
    <h3> Productos </h3> <hr>
    {{#each products}}
    <div class="card text-bg-success mb-3 margin-right" style="width: 10rem;">
        <div class="card-body">
            <b>{{this.title}}</b>
            <p>precio : {{this.price}} - stock: {{this.stock}}</p>
            <button onclick="deleteProduct({{this.id}});" class="btn btn-danger"> delete</button>
        </div>
    </div>
{{/each}}
</div>