<nav >
    <ul class="row">
        <li class="col">  <a href="http://localhost:4000/static/UserRegister">User Register</a></li>
        <li class="col">  <a href="http://localhost:4000/static/UserLogin">User Login</a></li>
        <li class="col">  <a href="http://localhost:4000/static/UserProfile">User Profile</a></li>
        <li class="col">  <a href="http://localhost:4000/static/UserProfiles">Manage Users</a></li>
        <li class="col"> <a href="http://localhost:4000/static/">Home</a></li>
        <li class="col">  <a href="http://localhost:4000/static/RealTimeProducts">Manage Products</a></li>
        <li class="col">  <a href="http://localhost:4000/static/Chat">Chat</a></li>
        <li class="col">  <a href="http://localhost:4000/static/Cart">Cart</a></li>
    </ul>
</nav>